.header {
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 1px solid whitesmoke;
}

.header__left {
    display: flex;
}


.header__middle{
    display: flex;
    margin-left: 340%;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    
}

.header__right {
    display: flex;
    padding-right: 20px;
}

.header__img{
    width: 110px;
    height: 22px;
    left: 100px;
    top: 18px;
}

.header__right > h1 {
width: 93px;
height: 19px;
right: 156px;
top: calc(50% - 19px/2);

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: capitalize;
color: #1C1C1C;
}

.header__right > img {
width: 35px;
height: 35px;
right: 100px;
top: calc(50% - 35px/2);
border-radius: 2px;
}