.sidebaroptions {
    justify-content: center;
}


.sidebaroptions > p {
    left:0;
    right: 12.49%;
    top: 19.35%;
    bottom: 6.25%;
}

.sidebaroptions > h4 {
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
/* identical to box height */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}