.topbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #15294B;
    border-bottom: 1px solid whitesmoke;
    height: 100px;
    width: 100%;
}

.topbar__left{
    margin-left: 180px;
    color: white;
}

.topbar__right {
    margin-right: 50%;
    margin-top: 20px;
}

.topbar__right > h1{
    width: 356px;
    height: 29px;
    left: 320px;
    top: 21px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.9); 
}